@page
@model M05_UF3_P2_Template.Pages.Products.VideoModel
@{
}
<form method="post">
    <button type="submit" class="btn btn-primary float-right"><span class="material-icons">save</span></button>
    <input type="text" asp-for="video.Product_Id" />
    <input type="number" step="any" asp-for="video.Duration" />
</form>
